* , *::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* header */
#navbar {
    display: flex;
    padding: 50px 30px;
    background-color: rgb(38, 69, 95);
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: top 0.3s;
}

/* navigation buttons */
.navButtons {
    flex: 1;
    padding: 15px;
    font-size: 40px;
    text-align: center;
    color: white;
    position: relative;
    font-family: "sequel";
    text-decoration: none;
}

.navButtons:hover {
    cursor: pointer;
}

.navButtons::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    background-color: white;
    transition: width 0.85s ease-out;
}

.navButtons:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}

/* logo style */
.logo {
    padding-right: 50px;
    padding-left: 50px;
}

/* header icon style */
.fas {
    float: right;
    color: rgba(255,255,255, 0.5);
    padding: 25px 40px 25px 40px;
    transition: color 0.35s ease-in-out;
}

.fas:hover {
    color: white;
    cursor: pointer;
}

/* content */
/* slogan style */
#slogan {
    margin-top: 170px;
    padding: 0;
    background-image: url(/Personalwebpage/img/lake.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 1200px;
    text-align: center;
    justify-content: center;
    position: relative;
    animation: shrink 4s infinite alternate;
}

.slogan-search {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);

}

.catchphrase {
    color: white;
    font-family: "sequel";
    font-size: 140px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

input[type=text] {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 40px;
}

 /* background image keyframe */
@keyframes shrink {
    0% {
        background-size: 112% 112%;
    }
    
    50% {
        background-color: 111% 111%;
    }
    
    100% {
        background-size: 110% 110%;
    }
}

#extraInfo {
    width: 100%;
    height: 1050px;
    font-size: 50px;
    font-family: "Muli";
    text-align: center;
    padding: 90px;
    background-color: rgb(38, 69, 95);
    color: white;
}

.images_ {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px;
}

.pics {
    border-radius: 50%;
    margin:7px 90px;
}

.transition{
    position: relative;
    filter: grayscale(0);
    transition: grayscale 0.5s ease-in-out;
}

.transition:hover {
    filter: grayscale(100);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Muli";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out; 
}

.overlay:hover {
    opacity: 1;
}

#background {
    display: flex;
}

#Column {
    width: 33.33%;
    height: 1700px;
}

.leftColumn {
    background-color: rgba(0, 0, 0, 0.5);
}

.middleColumn {
    background-color: rgba(0, 0, 0, 0.4);
}

.rightColumn {
    background-color: rgba(0, 0, 0, 0.5);
}

.moreInfoPara {
    width: 100%;
    height: 1600px;
    font-size: 45px;
    font-family: "Muli";
    text-align: center;
    padding: 50px;
    background-color: rgb(38, 69, 95);
    color: white;
}

h3 {
    font-size: 45px;
}

.find-us {
    font-size: 35px;
}

input[type=email], input[type=name] {
    padding: 3px 2px;
    font-size: 35px;
    border: none;
    border-bottom: 4px solid white;
    background-color: transparent;
    color: white;
}

textarea {
    background-color: transparent;
    border: white;
    color: white;
    font-size: 30px;
    border-width: 4px;
    border-style: inset;
    border-radius: 5px;
}

.submit {
    padding: 15px 20px;
    cursor: pointer;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: white;
}

.submit:hover {
    background-color:rgba(0, 0, 0, 0.5);
    border: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

.fab {
    margin-top: 10px;
    color: rgba(255,255,255, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    transition: color 0.35s ease-in-out;
}

.fab:hover {
    color: white;
    cursor: pointer;
}

.footer {
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Muli";
    font-size: 30px;
    position: fixed;
    bottom: 0;
}


